@font-face { font-family: Kanit; font-weight: 100; src: url("fonts/kanit-thin.otf"); } 
@font-face { font-family: Kanit; font-weight: 200; src: url("fonts/kanit-extralight.otf"); } 
@font-face { font-family: Kanit; font-weight: 300; src: url("fonts/kanit-light.otf"); }
@font-face { font-family: Kanit; font-weight: 400; src: url("fonts/kanit-regular.otf"); }
@font-face { font-family: Kanit; font-weight: 500; src: url("fonts/kanit-medium.otf"); }
@font-face { font-family: Kanit; font-weight: 600; src: url("fonts/kanit-semibold.otf"); }
@font-face { font-family: Kanit; font-weight: 700; src: url("fonts/kanit-bold.otf"); }
@font-face { font-family: Kanit; font-weight: 800; src: url("fonts/kanit-extrabold.otf"); }
@font-face { font-family: Kanit; font-weight: 900; src: url("fonts/kanit-black.otf"); }

*{
	margin: 0;
	padding: 0;
}

html {
	font-family: Kanit;
	background-color: #242424;
	scroll-behavior: smooth;
}

p {
	font-weight: 100;
	color: #80ccbf;
}

b {
	font-weight: 400;
}

.beta-red{
	color: #cf6f7d !important;
}

footer{
	text-align: center;
	background-color: #303030;
	padding: 35px 50px 50px 50px;
	border-top: 1px solid #80ccbf;
}

.container{
	min-height: 100vh;
	width: 100%;
	background: url("images/Logo-BG-1.png") no-repeat;
	background-position: top;
	background-position-y: -50px;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 5%;
	box-sizing: border-box;
	position: relative;
}

nav{
	flex: 1;
	padding-left: 60px;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
}

nav ul li a{
	text-decoration: none;
	color: #80ccbf;
	transition: all 0.3s ease-in-out;
}

nav ul li a:hover{
	text-shadow: 0px 0px 15px rgba(157, 244, 229, 0.75);
	color: #9df4e5;
	transition: all 0.3s ease-in-out;
}

.navbar{
	padding-left: 5%;
	padding-right: 5%;
	width: 100%;
	height: 10vh;
	margin: auto;
	display: flex;
	z-index: 2;
	align-items: center;
	position: fixed;
	background-color: none;
	border-bottom: 0px solid #80ccbf;
	transition: all 0.3s ease-in-out;
}

.navbar a{
	margin-top: 5px;
}

.navbar.filled{
	padding-left: 5%;
	padding-right: 5%;
	width: 100%;
	height: 10vh;
	margin: auto;
	display: flex;
	z-index: 2;
	align-items: center;
	position: fixed;
	background-color: #303030;
	border-bottom: 1px solid #80ccbf;
	transition: all 0.3s ease-in-out;
}

.logo{
	width: 60px;
	cursor: point;
}

.head-content{
	padding-top: 30vh;
	margin-left: 7%;
}

.head-content p{
	font-size: 18px;
	margin-bottom: 5px;
	margin-right: 6%;
	font-weight: 200;
}

.content{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	border-top: 1px solid #80ccbf;
}

.head-content h1{
	font-size: 60px;
	font-weight: 500;
	margin-top: 18px;
	margin-bottom: -10px;
	color: #80ccbf;
}

.head-content h2{
	font-size: 48px;
	font-weight: 500;
	margin-top: 18px;
	margin-bottom: -10px;
	color: #80ccbf;
}

a{
	text-decoration: underline;
	text-shadow: none;
	color: #9df4e5;
	transition: all 0.3s ease-in-out;
}

a:hover{
	text-shadow: 0px 0px 10px rgba(157, 244, 229, 0.75);
	color: #9df4e5;
	transition: all 0.3s ease-in-out;
}

.content h2{
	font-size: 32px;
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 5px;
	color: #80ccbf;
}

.content h3{
	font-size: 24px;
	font-weight: 300;
	margin-top: 6px;
	margin-bottom: 5px;
	color: #80ccbf;
}

.content p{
	font-size: 18px;
	color: #80ccbf;
	margin-bottom: 10px;
	margin-left: 2%;
	margin-right: 2%;
	font-weight: 200;
}

.content ul{
	font-size: 18px;
	color: #80ccbf;
	margin-bottom: 5px;
	margin-left: 5%;
	margin-right: 2%;
	font-weight: 200;
}

.content ul li b{
	font-weight: 400;
}

.head-content p{
	font-size: 18px;
	color: #80ccbf;
	margin-bottom: 2px;
	font-weight: 200;
}

.head-content .btn{
	display: inline-block;
	background: linear-gradient(0deg, #80ccbf, #9df4e5);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #ffffff;
	transition: all 0.3s ease-in-out;
}

.head-content .btn:hover{
	box-shadow: 3px 8px 22px rgba(157, 244, 229, 0.15);
	transition: all 0.3s ease-in-out;
}

.footerLogo {
	margin-bottom: 3rem;
	width: 80px;
	cursor: point;
	align-items: center;
}

.footer-bottom{
	display: flex;
	position: relative;
	padding-top: 6px;
	margin: 0 auto 22px;
	text-align: left;
	align-items: top;
	border-top: 1px solid #80ccbf;
	max-width: 1500px;
}

.footer-column{
	text-align: left;
	vertical-align: top;
	flex-flow: row;
	flex: 1 1 15%;
	align-items: top;
}

.footer-column-colored{
	text-align: left;
	vertical-align: top;
	flex-flow: row;
	flex: 1 1 15%;
	align-items: top;
	background: linear-gradient(0deg, #80ccbf, #9df4e5);
	color: #ffffff;
	border-radius: 25px;
}

.footer-column-colored a{
	color: #ffffff;
	text-decoration: none;
	padding-left: 60px;
	padding-top: 50px;
}

.footer-column-colored p{
	color: #ffffff;
	padding-left: 60px;
	font-weight: 400;
}

.footer-column-colored h2{
	color: #ffffff;
	padding-left: 40px;
	padding-top: 20px;
}

.footer-column ul li p{
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	color: #80ccbf;
}

.footer-column ul li a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
	color: #80ccbf;
	transition: all 0.3s ease-in-out;
}

.footer-column ul li a:hover{
	text-shadow: 0px 0px 10px rgba(157, 244, 229, 0.75);
	color: #9df4e5;
	transition: all 0.3s ease-in-out;
}

.footer-column ul{
	display: inline-block;
}

.footer-column ul li{
	list-style: none;
}

.accordion {
	margin-left: 5%;
	background-color: #242424;
	color: #9df4e5;
	cursor: pointer;
	padding: 18px;
	width: 85%;
	border: 1px solid #80ccbf;
	text-align: left;
	font-size: 16px;
	font-weight: 300;
	font-family: Kanit;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #323232;
	box-shadow: 0px 0px 5px rgba(157, 244, 229, 0.6);
}

.accordion:after {
	content: '\002B';
	color: #80ccbf;
	font-weight: bold;
	float: right;
}

.active:after {
	content: "\2212";
}

.panel {
	background-color: #242424;
	max-height: 0px;
	width: 84%;
	margin-left: 5.5%;
	margin-top: -1px;
	margin-bottom: 8px;
	overflow: hidden;
	transition: 0.3s ease-out;
	border-left: 1px solid #80ccbf;
	border-right: 1px solid #80ccbf;
	border-bottom: 1px solid #80ccbf;
	transition: 0.4s ease-out;
}

.panel p {
	padding-left: 16px;
}

.panel-active {
	transition: 0.4s ease-out;
	padding-top: 24px;
	padding-bottom: 16px;
	max-height: 750px;
}

.cmd-img-left {
	max-height: 600px;
	padding-left: 100px;
}

.cmd-img-right {
	max-height: 600px;
	padding-left: 50px;
	
}